.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgrey;
    color: white;
    text-align: center;
    height: 100px;
    font-size: x-large;
    list-style-type:none;
}