.section{
    height: 100%;
}

.dropshadow{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.lightGray{
    background-color: darkgrey;
}

.replaceDark{
    color: #264653
}

.replaceBkDark{
    background-color: #264653;
}

.replaceWarning{
    color: #e9c46a
}

.replaceBkWarning{
    background-color: #e9c46a
}

.textBackground1{
    color: #f4a261
}

.textBackground2{
    color: #e76f51
}